.blazored-modal-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
    padding: 0.5rem;
    background: rgba(255, 255, 255, 0.8);
}
.blazored-modal {
    z-index: 1002;
    min-width: 30em;
    max-height: 95vh;
    border: 1px solid var(--main-color);
    border-radius: 10px;
}
.blazored-modal-header {
    color: var(--main-color);
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}
.blazored-modal-content {
    font-size: 24px;
    line-height: 27px;
    padding: 1rem;
    height: calc( 100% - 30px );
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 100%;
    text-overflow: ellipsis;
    word-break: break-word;
}
.blazored-modal-footer {
    justify-content: center;
    padding: 0 !important;
}
