@page "/database/{DatabasePath}"
@using DBManager.WebUi.Components
<div class="card-component grid-card w-100 ">
    <div class="card-component-header">
        <div class="card-component-header-text">@Database.Name</div>
    </div>
    <div class="table-custom-body">
        <div class="data-grid-container">
            <table class="data-grid ">
                <thead>
                <th>Name</th>
                <th style="width: 3rem; ">
                </th>
                <th style="width: 3rem; " @onclick="Create">
                    <div class="add-icon"></div>
                </th>
                </thead>
                <tbody>
                @foreach (var table in Database.Tables)
                {
                    <tr>
                        <td class="data-grid-cell">
                            @table.Name
                        </td>
                        <td class="data-grid-cell" style="width: 3rem;" @onclick="() => Open(table.Name)">
                            <div class="edit-icon"></div>
                        </td>
                        <td class="data-grid-cell" style="width: 3rem;" @onclick="() => Delete(table.Name)">
                            <div class="delete-icon"></div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
<Modal @ref="CreateModal" Title="Create table">
    <CreateTableModal Result="(res) => { if (res) ReloadDatabase();}"/>
</Modal>
<Modal @ref="DeleteModal" Title="Delete database">
    <ConfirmationModal Message="Are you sure you want to delete table?" Result="(res) => { if (res) DeleteTable();}"/>
</Modal>