

@if (!string.IsNullOrEmpty(Message))
{
    <div class="text-center py-2 mb-3">
        @Message
    </div>
}
<div class="modal-footer">
    <button class="button button-secondary" data-dismiss="modal" @onclick="() =>CloseConfirmationModal(false)">
        No
    </button>
    <button class="button button-primary" @onclick="() =>CloseConfirmationModal(true)">
        Yes
    </button>

</div>
