@inherits ConfirmationModalBase

@if (!string.IsNullOrEmpty(Message))
{
    <div class="text-center py-2 mb-3">
        @Message
    </div>
}
<div class="blazored-modal-footer">
    <button class="button primary-button" @onclick="() => Result?.Invoke(true)">
        Yes
    </button>
    <button class="button danger-button" data-dismiss="modal" @onclick="() => Result?.Invoke(false)">
        No
    </button>
</div>

@code {
    [Parameter] public string Message { get; set; }
    [Parameter] public Action<bool> Result { get; set; }
}
