<div class="database-create">
    <EditForm EditContext="_editContext">
        <DataAnnotationsValidator/>

        <div class="base-input-container long">
            <label class="base-input">
                <InputText placeholder=" " name="name" @bind-Value="Table.Name"/>
                <span>Name</span>
                <ValidationMessage For="() => Table.Name"></ValidationMessage>
            </label>
        </div>
    </EditForm>


</div>
<div class="modal-footer">
    <button class="button button-secondary" data-dismiss="modal" @onclick="Cancel">
        Cancel
    </button>
    <button class="button button-primary" @onclick="Create">
        Create
    </button>

</div>

<Toast @ref="Toast"/>