@inherits ModalBase
@if (_showModal)
{
    <div class="blazored-modal-container">

        <div class="blazored-modal">
            <div class="blazored-modal-header">
                <h3 class="blazored-modal-title">@Title</h3>
                <div class="close-icon" @onclick=@CloseModal></div>
            </div>
            <div class="blazored-modal-content">
                <CascadingValue Value="this">
                    @ChildContent
                </CascadingValue>
            </div>
        </div>
    </div>
}