@if (_showToast)
{
<div class="blazored-toast-container">

    <div class="blazored-toast blazored-toast-@(Type.ToLower()) @(Type.ToLower())-toast-override @Type.ToLower()-toast-override">
        <div class="blazored-toast-header">
            <h3 class="blazored-toast-title">@Title</h3>
            <div class="close-icon" @onclick=@CloseToast></div>
        </div>
        <div class="blazored-toast-content">
            @if (!string.IsNullOrEmpty(Message))
            {
                <div class="text-center py-2 mb-3">
                    @Message
                </div>
            }
            <div class="blazored-toast-footer confirm">
                @Buttons
            </div>
        </div>
    </div>
</div>
}
@code {
    public string Title { get; set; }
    public string Message { get; set; }
    public string Type { get; set; }
    [Parameter] public RenderFragment Buttons { get; set; }
    private bool _showToast { get; set; }
    public void CloseToast()
    {
        _showToast = false;
        StateHasChanged();
    }
    public void ShowToast(string type, string title, string message)
    {
        Type = type;
        Title = title;
        Message = message;
        _showToast = true;
        StateHasChanged();
        Task.Delay(300).Wait();
        CloseToast();
    }
}