@inherits LayoutComponentBase
<CascadingBlazoredModal>
    <div class="page">
        <div class="main">
            <div class="content px-2">
                @Body
            </div>
        </div>
    </div>
</CascadingBlazoredModal>
<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="3"
                SuccessClass="success-toast-override" 
                ErrorClass="error-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug"
                IconType="IconType.FontAwesome"/>