.add-icon{
    height: 1.5rem;
    width: 1.5rem;
    display: inline-block;
    background-image: url("../../images/plus.svg");
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: center;
    margin-right: 5px;
}
.edit-icon{
    height: 1.5rem;
    width: 1.5rem;
    display: inline-block;
    background-image: url("../../images/edit.svg");
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: center;
    margin-right: 5px;
    cursor: pointer;
}
.delete-icon{
    height: 1.5rem;
    width: 1.5rem;
    display: inline-block;
    background-image: url("../../images/trash.svg");
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: center;
    margin-right: 5px;
    cursor: pointer;
}
.close-icon{
    height: 1.5rem;
    width: 1.5rem;
    display: inline-block;
    background-image: url("../../images/close-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: center;
    margin-right: 5px;
    cursor: pointer;
}